<ion-content >
  <div class="container">
  <div class="content">

       
  
    <div *ngFor ="let image of image" >
        <ion-row>
          <ion-col size="12" offset="0">
            <img  id ="image" [src]="image" alt="this is the image"/>
          </ion-col>  
        </ion-row>
      </div>
    </div>
    <div class="overlay">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button  color="dark"shape ="round" (click)="navigateBack()"> <ion-icon name="arrow-back"></ion-icon></ion-button>
          </ion-col>
          <ion-col>
              <ion-button *ngIf ="!favoriteButton == true"color= "dark" shape ="round"  (click)="addToFavorites()"> <ion-icon name="heart"></ion-icon>Add to favorites</ion-button>
              <ion-button *ngIf ="favoriteButton == true" color= "light" shape ="round" > <ion-icon name="heart"></ion-icon>Added to favorites</ion-button>
            </ion-col>
          </ion-row>
          </ion-grid>
          <h2>{{item.title}}</h2>
          <p>{{item.description}}</p></div>
       <div></div>
          <ion-button *ngIf ="!followButton == true"  color="dark" (click)="favoriteUser()">Follow Project</ion-button>
          <ion-button *ngIf ="followButton == true" color= "light"  >Followed Project</ion-button>
  </div>
  <div style="text-align: center !important"><h4>Comments</h4>
  <div  *ngFor="let comment of item?.comments.comment" >
      <div  *ngFor="let comment of comments" ></div>
  <div  style="margin-top: 10px !important;" >   
      <p>"{{comment.comment}}"</p>
 </div>
</div>
</div>
<ion-card style="margin-top: 10px !important;" *ngFor="let comment of comments ">  
<ng-container style="padding-top: 40px;"*ngFor="let item of comment">
      <div style="display: flex">
      <ion-avatar style="margin-left: 10px;" >
        <img  [src]="item?.profileImage">
      </ion-avatar>
       <div style="color: black; margin-left: 20px;" style="flex: 0 0 65%;"><h5 style="margin-left: 10px; "><b>{{item?.username}}</b></h5></div>
      </div>
      <div style=" flex: 1; margin-left: 20px;"> <h6 style="color: rgb(73, 73, 73)">"{{item?.comment}}"</h6></div>
    </ng-container>
</ion-card>
  <ion-item>   
  <ion-textarea [(ngModel)]="comment" placeholder="add comment"></ion-textarea>
</ion-item>
<ion-button (click)="addComment()">Leave comment </ion-button>
<!--   <ion-item>
    <ion-label position="stacked">Stacked Label</ion-label>
    <ion-input [(ngModel)]="this.comment"></ion-input>
  </ion-item>
  <ion-button (click)="addToComments(this)">leave comment</ion-button> -->
</ion-content>

