<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-button type ="round" slot="end"  (click)="gobacktoProfile()" color="light">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="chooseProfilePic()" >Choose Profile Pic</ion-button>

 <img style="border-radius: 50%; height: 80px; width: 80px;" [src]= "profileImage"> 

<!-- <ion-button (click)="saveChanges()">Save Changes</ion-button>

<div class="container">
 
   <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="userName" placeholder="user name">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="userBio" placeholder="user bio">
        </div>
        <div class="col-md-3">
          <button type="button"(click)="UpdateRecord(item)"[disabled]="!userName || !userBio " class="btn btn-primary">+
            Create Student</button>
        </div>
      </div>
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
          <div class="card" style="width: 18rem;" *ngFor="let item of students">
            <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
                <img [src]="item.profileImage">
              <h5 class="card-title">{{item.userName}}</h5>
              <p class="card-text">Bio: {{item.userBio}}</p>
              <a href="#" class="card-link" (click)="EditRecord(item)">Edit</a>
              <a href="#" class="card-link" (click)="RemoveRecord(item.id)">Delete</a>
            </div>
            <ng-template #elseBlock>
              <div class="card-body">
                <h5 class="card-title">Edit</h5>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="text" class="form-control" [(ngModel)]="item.EditName" placeholder="Edit Name">
                    </div>
                    <div class="col-md-12">
                      <input type="text" class="form-control" [(ngModel)]="item.EditAge" placeholder="Edit Age">
                    </div>
                    <div class="col-md-12">
                      <input type="text" class="form-control" [(ngModel)]="item.EditAddress" placeholder="Edit Address">
                    </div>
                  </div>
                </div>
                <a href="#" class="card-link" (click)="item.isEdit = false">Cancel</a>
                <a href="#" class="card-link" (click)="UpdateRecord(item)">Update</a>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
  </div> -->
  
  //


  <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-input placeholder="User Name" [(ngModel)]="userName"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input placeholder="UserBio" [(ngModel)]="userBio"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="CreateRecord()" [disabled]="!userBio || !userName">
            <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
            &nbsp;Create Record
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
   
   
    <ion-card *ngFor="let item of students">
      <span *ngIf="!item.isEdit; else elseBlock">
        <ion-card-header>
          <ion-card-title>{{item.userName}} of {{item.userBio}} </ion-card-title>
          <img [src]="item.profileImage">
        </ion-card-header>
        <ion-card-content>
   
          <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
   
          </ion-button>
          <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
   
          </ion-button>
        </ion-card-content>
      </span>
      <ng-template #elseBlock>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  Edit
                </ion-col>
                <ion-col>
                  <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                    Cancel
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                    Update
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label><strong>Name</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.EdituserName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><strong>UserBio</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.EdituserBio"></ion-input>
          </ion-item>
        </ion-card-content>
      </ng-template>
    </ion-card>
   




