<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
    <ion-button type ="round" slot="end"  (click)="gobacktoProfile()" color="light">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button (click)="chooseProfilePic()" >Choose Profile Pic</ion-button>

<img style="border-radius: 50%; height: 80px; width: 80px;" [src]= "profileImage"> 

<ion-button (click)="saveChanges()">Save Changes</ion-button>

<div class="container">
 
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="userName" placeholder="user name">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="userBio" placeholder="user bio">
        </div>
        <div class="col-md-3">
          <button type="button" (click)="CreateRecord()" [disabled]="!userName || !userBio " class="btn btn-primary">+
            Create Student</button>
        </div>
      </div>
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
          <div class="card" style="width: 18rem;" *ngFor="let item of students">
            <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
                <img [src]="item.profileImage">
              <h5 class="card-title">{{item.userName}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Age: {{item.Age}} Years</h6>
              <p class="card-text">Address: {{item.userBio}}</p>
              <a href="#" class="card-link" (click)="EditRecord(item)">Edit</a>
              <a href="#" class="card-link" (click)="RemoveRecord(item.id)">Delete</a>
            </div>
            <ng-template #elseBlock>
              <div class="card-body">
                <h5 class="card-title">Edit</h5>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="text" class="form-control" [(ngModel)]="item.EditName" placeholder="Edit Name">
                    </div>
                    <div class="col-md-12">
                      <input type="text" class="form-control" [(ngModel)]="item.EditAge" placeholder="Edit Age">
                    </div>
                    <div class="col-md-12">
                      <input type="text" class="form-control" [(ngModel)]="item.EditAddress" placeholder="Edit Address">
                    </div>
                  </div>
                </div>
                <a href="#" class="card-link" (click)="item.isEdit = false">Cancel</a>
                <a href="#" class="card-link" (click)="UpdateRecord(item)">Update</a>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
  </div>
</ion-content>



