<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-button  *ngIf="!students.length > 0" type ="round" slot="end"  (click)="gobacktoProfile()" color="light">Back</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid style ="text-align: center">
  <ion-row style ="text-align: center">

  <!--     *ngIf="!students.length > 0"  
    <ion-col>
 <img   style="border-radius: 50%; height: 120px;" [src]= "profileImage || item.profileImage"> 
    </ion-col>
   *ngIf="!students.length == 0" 
    <ion-col *ngFor="let item of students">
 <img    style="border-radius: 50%; height: 120px; " [src]="item.profileImage"> 
</ion-col>
 -->

 <ion-col>
   <div  class= "imageHold" >
    <img class= "profileImg"[src]= "profileImage"> 
  </div>
 </ion-col>
</ion-row>
<ion-row  style ="text-align: center">  
    <ion-col>
 <ion-button  size="small" fill="outline" (click)="chooseProfilePic()" >Choose Profile Photo</ion-button>
</ion-col>
</ion-row>
</ion-grid>

<!-- <ion-button (click)="saveChanges()">Save Changes</ion-button>

<div class="container">
 
   <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="userName" placeholder="user name">
        </div>
        <div class="col-md-3">
          <input type="text" class="form-control" [(ngModel)]="userBio" placeholder="user bio">
        </div>
        <div class="col-md-3">
          <button type="button"(click)="UpdateRecord(item)"[disabled]="!userName || !userBio " class="btn btn-primary">+
            Create Student</button>
        </div>
      </div>
      <div class="row" style="margin-top: 25px;">
        <div class="col-md-3">
          <div class="card" style="width: 18rem;" *ngFor="let item of students">
            <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
                <img [src]="item.profileImage">
              <h5 class="card-title">{{item.userName}}</h5>
              <p class="card-text">Bio: {{item.userBio}}</p>
              <a href="#" class="card-link" (click)="EditRecord(item)">Edit</a>
              <a href="#" class="card-link" (click)="RemoveRecord(item.id)">Delete</a>
            </div>
            <ng-template #elseBlock>
              <div class="card-body">
                <h5 class="card-title">Edit</h5>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-12">
                      <input type="text" class="form-control" [(ngModel)]="item.EditName" placeholder="Edit Name">
                    </div>
                    <div class="col-md-12">
                      <input type="text" class="form-control" [(ngModel)]="item.EditAge" placeholder="Edit Age">
                    </div>
                    <div class="col-md-12">
                      <input type="text" class="form-control" [(ngModel)]="item.EditAddress" placeholder="Edit Address">
                    </div>
                  </div>
                </div>
                <a href="#" class="card-link" (click)="item.isEdit = false">Cancel</a>
                <a href="#" class="card-link" (click)="UpdateRecord(item)">Update</a>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
  </div> -->
  




  <ion-grid fixed  *ngIf="!students.length > 0">
          <ion-item>
            <ion-input placeholder="Username" [(ngModel)]="userName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input placeholder="About Me " [(ngModel)]="userBio"></ion-input>
          </ion-item>
           <ion-button *ngIf="!students.length > 1"  size="small"  (click)="chooseProfilePic()" >Choose Profile Photo</ion-button>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="CreateRecord()">
             Save Changes
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
   
   
    <div *ngFor="let item of students | slice:1:2" >
      <!--     <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
           Remove Record
          </ion-button> -->
      
     
          
           
                 
     
          <!-- this updates the user name -->
          <ion-item>
             <ion-label><strong>Name</strong></ion-label>
             <ion-input type="text" [(ngModel)]="item.userName"></ion-input>
          </ion-item>
            <!-- this updates the user Bio -->
           <ion-item>
            <ion-label><strong>About me</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.userBio"></ion-input>
          </ion-item>
      <div style ="text-align: center">
          <ion-button (click)="UpdateRecord(item)">
              Save Changes 
            </ion-button>
          </div>



   </div>

   
   <div style="text-align: center">
  <ion-button size="small" fill="outline"(click) = "logout()">Logout</ion-button>
</div>
   </ion-content>




