.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }

  ion-content div{
    margin: auto;
}

/* <ion-segment-button value = "0">
<ion-icon id ="heart" name="heart"></ion-icon><p id="Wipped">Wipped</p>
</ion-segment-button> */




/* ion-segment {
  //height: 30px;
}

ion-segment-button {
  
    display: flex;
    //min-height:30px;
    min-width: 170px;
}


#Wipped {
  width: 200px;
  vertical-align:middle;

}

#heart {
  flex: 1;

}  */


#Wipped , #Wipping {
  font-family: "Pacifico" !important;
} 


 