
<ion-header>
  <ion-toolbar color="dark">
    <ion-title >Profile</ion-title>
    <ion-button type ="round" slot="end"  (click)="gotoeditPage()" color="light">
        <ion-icon name="menu">
      </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="card-background-page" color="medium">

<!-- <ion-grid>
  <ion-row align-items-center>
    <ion-col ></ion-col>
    <ion-col *ngFor="let item of students"  size="4" offset="1">
        <img [src]="item.profileImage" style="height: 70px;">
 </ion-col>
 <ion-col ></ion-col>
</ion-row>
<ion-row align-items-center>
    <ion-col ></ion-col>
    <ion-col size="4" offset="1">
      <div id="profileInfo" *ngFor="let item of students" >      
 <p style="color: black !important">{{item.userName}}</p>
 <div style ="color: black !important">
    {{item.userBio}}
 </div>
</div>
 </ion-col>
 <ion-col ></ion-col>
</ion-row>

</ion-grid> -->
<div *ngFor="let item of students" style="text-align: center;">
<img [src]="item.profileImage" style="height: 90px;  margin-top: 10px;">
</div>
<ion-card *ngFor="let item of students" >
    
    <ion-card-header>
      <ion-card-title>{{item.userName}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        {{item.userBio}}
    </ion-card-content>
  </ion-card>


  <ion-toolbar style="width: 100% !important" color="medium">
<ion-segment (ionChange)= "segmentChanged()" [(ngModel)]="segment" color="dark">
  <ion-segment-button value = "0">
    <ion-icon id ="heart" name="heart"></ion-icon><p id="Wipped">Wipped</p>
  </ion-segment-button>
  <ion-segment-button value="1">
    <ion-icon name="heart-half"></ion-icon><p id="Wipping">Wipping</p>
  </ion-segment-button>
</ion-segment>
</ion-toolbar>


 
<!-- <ion-content padding>
 
 <ion-grid>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>  
  
  
</ion-content>  -->
<ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
  <ion-slide>
  <ion-grid>
    <ion-row *ngIf="items">
      <ion-col>
        <p style="color: #383a3e">You haven't posted any finished work yet </p>
      </ion-col>
    </ion-row>
  <ion-row>
  <ion-col size="12" *ngIf="items">
  <!-- <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item *ngFor="let item of items" [routerLink]="['/tabs/details/', item.payload.doc.id]">
        <ion-thumbnail slot="start">
          <img [src]="item.payload.doc.data().image">
        </ion-thumbnail>
        <ion-label>{{item.payload.doc.data().title}}</ion-label>
        <ion-button fill="clear" slot="end">Details</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Show your work in progress :) 
  </div> -->
  <ion-card *ngFor ="let item of items" [routerLink]="['/tabs/details/', item.payload.doc.id]">
    <img [src]="item.payload.doc.data().image">
    <div class="card-title">{{item.payload.doc.data().title}}</div>
  </ion-card>
  </ion-col>
</ion-row>
</ion-grid>

</ion-slide>


<ion-slide>
    <ion-grid>
        <ion-row *ngIf="eventList">
            <ion-col>
             <p style="color: #383a3e"> You haven't posted any work in progress yet </p>
            </ion-col>
          </ion-row>
        <ion-row>
        <ion-col size="12" *ngIf="!eventList">
        <ion-card *ngFor ="let event of eventList" [routerLink]="['/tabs/details/', event?.id]">
          <img [src]="event?.image">
          <div class="card-title">{{event?.title}}</div>
        </ion-card>
        </ion-col>
      </ion-row>
      </ion-grid>
   <!--  <ion-list>
        <ion-list-header>
          <ion-label>Your next events</ion-label>
        </ion-list-header>
        <ion-item tappable *ngFor="let event of eventList" routerLink="/event-detail/{{ event.id }}">
          <ion-label>
            <h2>{{event?.description}}</h2>
          </ion-label>
        </ion-item>
      </ion-list> -->
</ion-slide>
</ion-slides>
</ion-content>