
<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-button type ="round" slot="end" (click)="logout()">
      <ion-icon name="exit">
      </ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
<ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" color="secondary">
  <ion-segment-button value = "0">
    <ion-icon name="heart"></ion-icon>WIPPED
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-icon name="heart-half"></ion-icon>WIPPING
  </ion-segment-button>
</ion-segment>
</ion-toolbar>


 
<!-- <ion-content padding>
 
 <ion-grid>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
  </ion-grid>  
  
  
</ion-content>  -->
<ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
  <ion-slide>
  <ion-grid>
  <ion-row>
  <ion-col size="11" *ngIf="items">
  <!-- <div *ngIf="items.length > 0" class="list-mini">
    <ion-list>
      <ion-item *ngFor="let item of items" [routerLink]="['/tabs/details/', item.payload.doc.id]">
        <ion-thumbnail slot="start">
          <img [src]="item.payload.doc.data().image">
        </ion-thumbnail>
        <ion-label>{{item.payload.doc.data().title}}</ion-label>
        <ion-button fill="clear" slot="end">Details</ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="items.length == 0" class="empty-list">
    Show your work in progress :) 
  </div> -->
  <ion-card *ngFor ="let item of items" [routerLink]="['/tabs/details/', item.payload.doc.id]">
    <img [src]="item.payload.doc.data().image">
  </ion-card>
  </ion-col>
</ion-row>
</ion-grid>
</ion-slide>
<ion-slide>
  slide two
</ion-slide>
</ion-slides>
</ion-content>