
.imageHold .profileImg {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-position: center;
  object-fit: cover;
  border-radius: 50%;
}


.card-background-page {

    ion-card {
      position: relative;
      text-align: center;
    }
  
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
  
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  
  }

  ion-segment {
    --border-color: red !important;
    --background-activated: red !important;
    --border-radius: 20px !important;
    --indicator-color-checked: orange !important;

  
  }

  ion-segment-button {
    --border-color:rgb(204, 204, 204) ;
    --background-activated: red !important;
    --border-radius: 20px !important;
    --color-checked: rgb(58, 58, 58) !important;
    --indicator-color: purple !important;
    --color: rgb(204, 204, 204) !important;
    --color-activated:  rgb(141, 141, 141) !important;
  }

  ion-content div{
    margin: auto;
}



/* <ion-segment-button value = "0">
<ion-icon id ="heart" name="heart"></ion-icon><p id="Wipped">Wipped</p>
</ion-segment-button> */




/* ion-segment {
  //height: 30px;
}

ion-segment-button {
  
    display: flex;
    //min-height:30px;
    min-width: 170px;
}


#Wipped {
  width: 200px;
  vertical-align:middle;

}

#heart {
  flex: 1;

}  */


#Wipped , #Wipping {
  font-family: "Pacifico" !important;
} 


 