/* ion-title {
    font-family: "Pacifico" !important;
  } */
  
  ion-content.form-content{
   // --background: url(../../assets/imgs/WIPPYCOVER.png) no-repeat  center / cover;
   background-color: blue;
}  

/*  ion-label {
    background-color: yellow !important;
} */
.title {
    text-align: center; 
}

ion-item .item-trns {
    color: orange;
    }
    
#formtest {
  color: blue !important;
}

/* ion-item {
    background-color: yellow !important;
}

ng-container, ion-input, ion-item, .form, .validation-errors{
    background-color: yellow !important;  
}

input:-internal-autofill-selected  {
    background-color: yellow !important;  
}

ng-touched  {
    background-color: yellow !important;
}

form ng-untouched ng-pristine ng-invalid {
    background-color: yellow !important;

}

ng-touched ng-dirty ng-invalid {
    background-color: yellow !important;
}

ion-untouched ion-pristine ion-invalid item-interactive item-input item-label item-label-floating item ios ion-focusable hydrated {
    background-color: yellow !important;
} 

.sc-ion-input-ios-h {
    background-color: yellow !important;
}

native-input sc-ion-input-ios {
    background-color: yellow !important;
} */