<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Media
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  
    
     <div>
        <ion-row no-padding>
          <ion-col size="6" offset="3">
            <img [src]="image" alt=""  />
          </ion-col>
        </ion-row>
      <!--   <ion-row no-padding>
          <ion-col size="11" style="text-align: center">
            <ion-button fill="outline" expand="block" size="small" (click)="openImagePicker()">Photo Gallery</ion-button>
          </ion-col>
          <ion-col size="11" >
            <ion-button fill="outline" expand="block" size="small" (click)="takePicture()">Camera</ion-button>
          </ion-col>
        </ion-row> -->
      </div>
      <ion-row>
        <ion-col>
      <ion-button size="large" color="light" (click)="openImagePicker()" offset="2px"><ion-icon name="folder-open" style="margin-right: 10px"></ion-icon>Gallery</ion-button>
        </ion-col>
        <ion-col>
      <ion-button size="large" color="medium" (click)="takePicture()"><ion-icon name="camera" style="margin-right: 10px"></ion-icon>Camera</ion-button>
    </ion-col>
    </ion-row>
      <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)" >
        <ion-item>
          <ion-label position="floating" color="primary">Title</ion-label>
          <ion-input type="text" formControlName="title"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Description</ion-label>
          <ion-input type="text" formControlName="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Category</ion-label>
          <ion-select placeholder="Select One" formControlName="category">
            <ion-select-option value="Wipped">Wipped</ion-select-option>
            <ion-select-option value="Wipping">Wipping</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button class="submit-btn" expand="block" type="submit" color="medium" [disabled]="!validations_form.valid">Create</ion-button>
      </form> 

</ion-content>
