<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
    <h4> Wipping </h4>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" color="medium">
  <div style="text-align: center;">
    <ion-spinner style="text-align: center; margin: auto;"  *ngIf="!posts"></ion-spinner>  
  </div> 
    <div>
    <ion-refresher  (ionRefresh)="tabThreeFeed($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" 
       refreshingSpinner="circles" refreshingText="refreshing..">
      </ion-refresher-content>
      </ion-refresher>
    </div>  
    <div *ngIf="posts" style="padding-top: 40px!important;">
        <ion-card style="margin-top: 40px "  *ngFor ="let post of posts" [routerLink]="['/tabs/details-feed/', post.postID]">
          <img [src]="post.image">
            <div class="card-title">{{ post.title}}</div>
        </ion-card>
         </div>  
</ion-content> 