ion-content.form-content{
    --background: url(../../assets/imgs/WIPPYCOVER.png) no-repeat  center / cover;
   
 }  

 .ion-item .ion-input {
     color: yellow;
     background-color: yellow !important;
 }

 .ion-untouched ion-pristine ion-invalid item-interactive item-input item-label item-label-floating {
     background-color: blue !important;
 
 }
 .ion-untouched {
    background-color: blue !important;
   
}

ion-item.sc-ion-input-ios-h sc-ion-input-ios-s hydrated ng-touched ng-dirty ng-valid ion-touched ion-dirty ion-valid ios has-value {
    background-color: blue !important;
}

.ion-pristine  {
    background-color: blue !important;
 
}

.ion-invalid {
    background-color: blue !important;
  
}

.item-input {
    background-color: blue !important;

}

.item-label-floating {
    background-color: blue !important;
 
}

#item-native {
    background-color: blue !important;
}
.form ng-untouched ng-pristine ng-invalid {
    background-color: blue !important;
}

ion-item {
    background-color: blue !important;
}
ion-item div.item-native {
    background-color: blue !important;
}

ion-item.div.item-native {
    background-color: blue !important;
}

div item-native {
    background-color: blue !important;
}

.item-native {
    background-color: blue !important;
}


ion-item.ion-untouched ion-pristine ion-invalid item-interactive item-input item-label item-label-floating item ios ion-focusable hydrated {
    background-color: blue !important;
}

_ngcontent-vyl-c0 {
    background-color: blue !important;
}

#vyl-c0 {
    background-color: blue !important;
}

#uoj-c0
{
    background-color: blue !important;
}

ion-item #shadow-root div .item-native {
    background-color: blue !important;  
}