ion-content.form-content{
    --background: url(../../assets/imgs/WIPPYCOVER.png) no-repeat  center / cover;
   
 }  

 .form {
     margin-top: 95%;
 }

 .title {
    font-family: "Pacifico" !important;
    color: white;
    text-align: center;
 }